html{
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll-padding, 50px);
}
.cust-foot :hover {
    transform: rotate(-5deg);
    color: #c083fd;
}

.cust-hero {
    background-image: url(/cover10.f65d9eff.JPG);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.cust-hero-body {
    height: 80vh
}

.fs-0 {
    font-size: 3rem;
}

.fs-7 {
    font-size: 0.9rem;
}

.fs-8 {
    font-size: 0.8rem;
}

.text-shorter {
    font-family: 'Montserrat', sans-serif;
}

.text-header {
    font-family: 'Red Hat Text', sans-serif;
}

.navbar {
    transform: none;
    transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.nav-item {
    position: relative;
}
.nav-item a{
    
}

.nav-item::after {
    content: "";
    width: 0%;
    height: 2px;
    background: white;
    position: absolute;
    left: 8px;
    bottom: 5px;
    transition: 0.3s;
}

.nav-item:hover::after {
    width: 80%;
}

.clamp-two-lines {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
}

/* for experience line */

.tm-main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 20px 0;
    display: grid;
    place-items: center;
}

.tm-header {
    position: relative;
    place-items: center;
}

.tm-header::after {
    position: absolute;
    content: " ";
    width: 80%;
    height: 3px;
    left: 50%;
    bottom: -13px;
    background-color: #198754;
    transform: translateX(-50%)
}

.tm-container {
    width: 80%;
    max-width: 1000px;
    height: auto;
    position: relative;
    transform: translateY(3px)
}

.tm-container::after {
    position: absolute;
    content: "";
    width: 3.5px;
    height: 100%;
    background-image: linear-gradient(to bottom, #198754, rgb(128, 240, 0), #3abd5f);
    transform: translateX(-1.5px);
}

.checkpoint {
    width: 50%;
    height: auto;
    padding: 15px 20px;
    margin-bottom: 30px;
    z-index: 99;
    position: relative;
}

.checkpoint:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(20px);
}

.checkpoint:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-20px);
    text-align: right;
}

.checkpoint:last-child {
    margin-bottom: 0;
}

.checkpoint:first-child {
    margin-top: 80px;
}

.checkpoint .date {
    position: absolute;
    top: -20px;
    background-image: linear-gradient(to right, #198754, #3abd5f);
}

.checkpoint:nth-child(odd) .date {
    right: 20px;
}

.checkpoint .circle {
    width: 25px;
    height: 25px;
    background-color: #3abd5f;
    border-radius: 50%;
    position: absolute;
    top: 0;
}

.checkpoint .circle::after {
    content: "";
    width: 15px;
    height: 15px;
    background-color: #198754;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.checkpoint:nth-child(odd) .circle {
    right: -20px;
    transform: translate(50%, -50%);
}

.checkpoint:nth-child(even) .circle {
    left: -20px;
    transform: translate(-50%, -50%);
}


@media (min-width: 1200px) {
    .cust-max {
        max-width: 970px;
    }
}

@media screen and (max-width:900px) {

    .checkpoint {
        width: 100%;
        float: none;
        clear: none;
        margin-bottom: 80px;
    }

    .checkpoint:nth-child(odd) {
        transform: translateX(0);
        text-align: left;
    }

    .checkpoint:nth-child(odd) .date {
        left: 20px;
        width: fit-content;
    }

    .checkpoint:nth-child(odd) .circle {
        left: -20px;
        transform: translate(-50%, -50%);
    }

    .checkpoint:nth-child(even) {
        transform: translateX(0);
    }

    .tm-header {
        left: -41.9%;
    }

    .tm-container::after {
        left: -8px;
    }
}

@media (max-width:992px){
    .nav-item{
        width: fit-content;
    }
    .nav-item::after {
        content: "";
        width: 0%;
        height: 2px;
        background: white;
        position: absolute;
        left:auto;
        bottom: 5px;
        transition: 0.3s;
    }
    
    .nav-item:hover::after {
        width: 100%;
    }
}

/*# sourceMappingURL=/App.b80f49c0.css.map */