.cust-foot :hover {
    /* transform: scale(1.05); */
    transform: rotate(-5deg);
    color: #c083fd;
}

.cust-hero {
    background-image: url(/images/cover10.JPG);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.cust-hero-body {
    height: 80vh
}

.card {
    border: none;
  }

.fs-7 {
    font-size: 0.9rem;
}

.fs-8 {
    font-size: 0.8rem;
}


@media (min-width: 1200px) {
    .cust-max {
        max-width: 970px;
    }
}