html{
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll-padding, 50px);
}


.cust-hero {
    background-image: url(../public/images/cover10.JPG);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.cust-hero-body {
    height: 80vh
}

.fs-0 {
    font-size: 3rem;
}

.fs-7 {
    font-size: 0.9rem;
}

.fs-8 {
    font-size: 0.8rem;
}

.text-shorter {
    font-family: 'Montserrat', sans-serif;
}

.text-header {
    font-family: 'Red Hat Text', sans-serif;
}

.clamp-two-lines {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
}



